USE [QLDSV_TC]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 26-Nov-21 21:06:14 ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_DIEM]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CAPNHAT_DIEM]
@DIEMTHI TYPE_DANGKY READONLY
AS
BEGIN
MERGE INTO DANGKY AS Target
USING (SELECT MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM @DIEMTHI) AS Source
ON Target.MALTC = Source.MALTC AND Target.MASV = Source.MASV
WHEN MATCHED THEN
	UPDATE SET TARGET.DIEM_CC = SOURCE.DIEM_CC, TARGET.DIEM_GK = SOURCE.DIEM_GK, TARGET.DIEM_CK = SOURCE.DIEM_CK 
WHEN NOT MATCHED THEN
	INSERT (MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK, HUYDANGKY)
	VALUES (SOURCE.MALTC, SOURCE.MASV, SOURCE.DIEM_CC, SOURCE.DIEM_GK, SOURCE.DIEM_CK, 'FALSE');
END

GO
/****** Object:  StoredProcedure [dbo].[LAY_DS_LOPTC]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LAY_DS_LOPTC]
@NK NVARCHAR(9), @HK INT
AS
SELECT MALTC, MH.TENMH, LTC.NHOM, HOTEN = GV.HO+' '+ GV.TEN
FROM GIANGVIEN GV,MONHOC MH,
( SELECT MALTC, MAMH, NHOM, MAGV 
FROM LOPTINCHI AS L
WHERE  L.NIENKHOA = @NK AND L.HOCKY = @HK AND HUYLOP = 'FALSE') AS LTC
WHERE LTC.MAMH = MH.MAMH AND LTC.MAGV = GV.MAGV
GO
/****** Object:  StoredProcedure [dbo].[LAY_DS_SVDangKy_LTC]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LAY_DS_SVDangKy_LTC]
@MALTC INT
AS
SELECT DK.MASV, HOTEN = SV.HO + ' '+ SV.TEN, DK.DIEM_CC, DK.DIEM_GK, DK.DIEM_CK
FROM SINHVIEN SV, (SELECT *
FROM DANGKY
WHERE MALTC = @MALTC AND HUYDANGKY = 'FALSE') AS DK
WHERE DK.MASV = SV.MASV


GO
/****** Object:  StoredProcedure [dbo].[LAY_DSLTC_CHUADK]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[LAY_DSLTC_CHUADK]
@NK NVARCHAR(9), @HK INT, @MASV NCHAR(10)
AS 
SELECT LTC.MALTC, MH.TENMH, LTC.NHOM, HOTEN = GV.HO+' '+ GV.TEN, LTC.SOSVTOITHIEU
FROM GIANGVIEN GV,MONHOC MH,
( SELECT L.MALTC, MAMH, NHOM, MAGV , L.SOSVTOITHIEU
FROM LOPTINCHI L,
((SELECT MALTC 
FROM LOPTINCHI AS LOP
WHERE  LOP.NIENKHOA = @NK AND LOP.HOCKY = @HK AND HUYLOP = 'FALSE') 
EXCEPT
(SELECT MALTC
FROM DANGKY
WHERE MASV = @MASV AND HUYDANGKY = 'FALSE')) AS CDK
WHERE CDK.MALTC = L.MALTC ) AS LTC
WHERE LTC.MAMH = MH.MAMH AND LTC.MAGV = GV.MAGV

GO
/****** Object:  StoredProcedure [dbo].[LAY_LOPTINCHI]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LAY_LOPTINCHI]
@MALTC INT
AS
select x.MALTC, mh.TENMH, x.NHOM, HOTEN =  gv.HO + ' '+gv.TEN, x.SOSVTOITHIEU
from (select *
from LOPTINCHI
where MALTC = @MALTC) as x, MONHOC mh, GIANGVIEN gv
where mh.MAMH = x.MAMH and gv.MAGV =X.MAGV
GO
/****** Object:  StoredProcedure [dbo].[Load_DSLop]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Load_DSLop]
as
SELECT  LTRIM(MALOP) + ' - ' + TENLOP  AS TENLOP, MALOP
FROM   LOP ORDER BY MALOP
GO
/****** Object:  StoredProcedure [dbo].[LOGIN_SINHVIEN]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LOGIN_SINHVIEN]
@MASV NCHAR(10), @PASS NVARCHAR(40)
AS
select MASV, HO, TEN, MALOP
from SINHVIEN
WHERE MASV = @MASV AND PASSWORD=@PASS
GO
/****** Object:  StoredProcedure [dbo].[SP_BANGDIEMTONGKET]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BANGDIEMTONGKET]
@MALOP NCHAR(10)
AS
SELECT Y.TT, MH.TENMH, Y.DIEM
FROM MONHOC MH, (SELECT TT= X.MASV+ ' - '+ X.HO +' '+ X.TEN, LTC.MAMH, DIEM = MAX(X.DIEMTK)
					FROM LOPTINCHI LTC,( SELECT DK.MALTC, DS.MASV, DS.HO, DS.TEN, DIEMTK = DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6
											 FROM DANGKY DK,(SELECT MASV,HO, TEN
																FROM SINHVIEN
																WHERE MALOP = @MALOP AND DANGHIHOC = 'FALSE') AS DS
											WHERE DK.MASV = DS.MASV ) AS X
					WHERE LTC.MALTC = X.MALTC AND DIEMTK IS NOT NULL
					GROUP BY X.MASV, X.HO, X.TEN, LTC.MAMH ) AS Y
WHERE MH.MAMH = Y.MAMH
ORDER BY Y.TT ASC, MH.TENMH ASC


GO
/****** Object:  StoredProcedure [dbo].[SP_BCBANGDIEMLTC]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BCBANGDIEMLTC]
@MALTC INT AS 

SELECT DK.MASV, SV.HO, SV.TEN, DK.DIEM_CC, DK.DIEM_GK, DK.DIEM_CK
FROM 
(SELECT * FROM DANGKY WHERE MALTC = @MALTC AND HUYDANGKY='false') AS DK, SINHVIEN SV
WHERE DK.MASV = SV.MASV
ORDER BY SV.TEN ASC , SV.HO ASC
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[SP_DSDONGHOCPHICUALOP]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSDONGHOCPHICUALOP]
@MaLop NCHAR(10),
@NienKhoa NCHAR (10),
@HocKy INT AS
SELECT HOTEN=X.HO+' '+X.TEN, X.HOCPHI, X.DADONG
FROM
(SELECT *, 
HOCPHI=(SELECT HOCPHI FROM LINK0.QLDSV_TC.dbo.HOCPHI WHERE MASV=SV.MASV AND NIENKHOA = @NienKhoa  AND HOCKY=@HocKy), 
DADONG=CASE WHEN(SELECT SUM(SOTIENDONG) FROM LINK0.QLDSV_TC.dbo.CT_DONGHOCPHI WHERE MASV=SV.MASV AND NIENKHOA = @NienKhoa AND HOCKY=@HocKy) IS NULL THEN 0
else 
(SELECT SUM(SOTIENDONG) FROM LINK0.QLDSV_TC.dbo.CT_DONGHOCPHI WHERE MASV=SV.MASV AND NIENKHOA = @NienKhoa AND HOCKY=@HocKy) END
FROM SINHVIEN SV WHERE MALOP=@MaLop) AS X
WHERE X.HOCPHI IS NOT NULL 
ORDER BY X.TEN ASC, X.HO ASC

GO
/****** Object:  StoredProcedure [dbo].[SP_DSHOCPHI]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_DSHOCPHI]
@MASV NCHAR(10)
AS
SELECT HP.MASV, HP.NIENKHOA,HP.HOCKY, hp.HOCPHI, DADONG = CASE WHEN (select sum(sotiendong)
					from CT_DONGHOCPHI
					WHERE MASV = hp.MASV and NIENKHOA = hp.NIENKHOA and HOCKY = hp.HOCKY) IS NULL THEN 0
					ELSE (select sum(sotiendong)
					from CT_DONGHOCPHI
					WHERE MASV = hp.MASV and NIENKHOA = hp.NIENKHOA and HOCKY = hp.HOCKY)
					END
FROM HOCPHI hp
WHERE MASV = @MASV
ORDER BY HP.NIENKHOA ASC , HP.HOCKY ASC


GO
/****** Object:  StoredProcedure [dbo].[SP_DSLOPTINCHI]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DSLOPTINCHI]
@NK NVARCHAR(9), @HK INT
AS
SELECT X.MALTC, X.TENMH, X.NHOM, HOTEN = GV.HO +' ' + GV.TEN,SOSVTOITHIEU, SOSVDANGKY = (SELECT SOSVDANGKY = COUNT(*)
																						FROM DANGKY
																						WHERE MALTC = X.MALTC)
FROM
(SELECT L.MALTC, MH.TENMH, L.NHOM, MAGV, SOSVTOITHIEU
FROM (SELECT MALTC, MAMH, NHOM, MAGV, SOSVTOITHIEU
FROM LOPTINCHI
WHERE NIENKHOA = @NK AND HOCKY = @HK AND HUYLOP = 'FALSE') AS L, MONHOC MH
WHERE MH.MAMH = L.MAMH) AS X, GIANGVIEN GV
WHERE X.MAGV = GV.MAGV
ORDER BY TENMH ASC, NHOM ASC


GO
/****** Object:  StoredProcedure [dbo].[SP_DSSVDANGKY]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DSSVDANGKY]
@MALTC INT
AS
select SV.MASV, SV.HO, SV.TEN,  GIOITINH = (CASE SV.PHAI WHEN 'truE' THEN N'Nữ' WHEN 'false' THEN N'Nam' END), sv.MALOP
FROM
(SELECT *
FROM DANGKY 
WHERE MALTC = @MALTC and HUYDANGKY = 'false') AS L, SINHVIEN sv
where sv.MASV = l.MASV
order by sv.ten asc, sv.ho asc
GO
/****** Object:  StoredProcedure [dbo].[SP_PHIEUDIEMSINHVIEN]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_PHIEUDIEMSINHVIEN]
@MASV nchar(10)
as
If exists(select masv from sinhvien where masv =@MASV)
BEGIN
	SELECT MH.TENMH, X.DIEM
	FROM
	(SELECT LTC.MAMH, DIEM = MAX(D.DIEM_TK)
	FROM
	(SELECT MALTC, DIEM_TK=(DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6)
	FROM DANGKY
	WHERE MASV = @MASV AND HUYDANGKY = 'FALSE') AS D, LOPTINCHI LTC
	WHERE D.MALTC = LTC.MALTC AND D.DIEM_TK IS NOT NULL
	GROUP BY LTC.MAMH) AS X, MONHOC MH
	WHERE X.MAMH= MH.MAMH
	ORDER BY MH.TENMH
END

ELSE

If exists(select masv from LINK1.QLDSV_TC.dbo.sinhvien where masv =@MASV)

BEGIN

	SELECT MH.TENMH, X.DIEM
	FROM
	(SELECT LTC.MAMH, DIEM = MAX(D.DIEM_TK)
	FROM
	(SELECT MALTC, DIEM_TK=(DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6)
	FROM LINK1.QLDSV_TC.dbo.DANGKY
	WHERE MASV = @MASV AND HUYDANGKY = 'FALSE') AS D, LINK1.QLDSV_TC.dbo.LOPTINCHI LTC
	WHERE D.MALTC = LTC.MALTC AND D.DIEM_TK IS NOT NULL
	GROUP BY LTC.MAMH) AS X, MONHOC MH
	WHERE X.MAMH= MH.MAMH
	ORDER BY MH.TENMH

END

ELSE RAISERROR (N'Mã SV không có trong DS',16,1)


GO
/****** Object:  StoredProcedure [dbo].[SP_TAOTAIKHOAN]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOTAIKHOAN]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @RET INT
		EXEC @RET = sp_addlogin @LGNAME, @PASS, 'QLDSV_TC'
			IF (@RET =1) --LOGINNAME BI TRUNG
				RETURN 1
		EXEC @RET = sp_grantdbaccess @LGNAME, @USERNAME
		IF(@RET =1) --USER NAME BI TRUNG
		BEGIN
			EXEC sp_droplogin @LGNAME
			RETURN 2
		END
		EXEC sp_addrolemember @ROLE, @USERNAME
		IF @ROLE='PGV' OR @ROLE='KHOA' OR @ROLE='PKT'
			EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
			--EXEC sp_addsrvrolemember @LGNAME, 'sysadmin' -- thuc hien bat ky hoat dong nao tren server
			--EXEC sp_addsrvrolemember @LGNAME, 'processadmin' -- quyenthao tac tren db
			RETURN 0 -- THANH CONG

		IF @ROLE='SINHVIEN'
			--EXEC sp_addsrvrolemember @LGNAME, 'processadmin' -- quyenthao tac tren db
		COMMIT
		RETURN 0 -- THANH CONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMSV]    Script Date: 26-Nov-21 21:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMSV]

@MASV Nvarchar(10)

AS

DECLARE @MAKH NVARCHAR(10), @MALOP NVARCHAR(10), @TENLOP NVARCHAR(50), @HOTEN nvarchar(70)

If exists(select masv from sinhvien where masv =@MASV)
BEGIN
SELECT @MALOP = MALOP, @HOTEN = HO + ' '+ TEN
FROM SINHVIEN WHERE MASV=@MASV
SELECT @TENLOP = TENLOP , @MAKH = MAKHOA
FROM LOP WHERE MALOP=@MALOP
SELECT HOTEN = @HOTEN, LOP = @MALOP + ' - '+ @TENLOP,KHOA = (SELECT TENKHOA FROM KHOA WHERE MAKHOA=@MAKH)
END
ELSE

If exists(select masv from LINK1.QLDSV_TC.dbo.sinhvien where masv =@MASV)

BEGIN
SELECT @MALOP = MALOP, @HOTEN = HO + ' '+ TEN
FROM LINK1.QLDSV_TC.dbo.SINHVIEN WHERE MASV=@MASV
SELECT @TENLOP = TENLOP , @MAKH = MAKHOA
FROM LINK1.QLDSV_TC.dbo.LOP WHERE MALOP=@MALOP
SELECT HOTEN = @HOTEN, LOP = @MALOP + ' - '+ @TENLOP,KHOA = (SELECT TENKHOA FROM LINK1.QLDSV_TC.dbo.KHOA WHERE MAKHOA=@MAKH)
END

ELSE RAISERROR (N'Mã sinh viên không tồn tại !!!',16,1)
GO
